@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@1,300&display=swap');


body{
    margin: 0;
    margin-bottom: 3%;
    background-color: rgba(222, 184, 135, 0.598);

    font-family: 'Bellota', cursive;
}

h1{
    margin: 0;
    text-align: center;
    
    font-size: 150%;
}

h3{
    margin: 0;
    text-align: center;

    font-size: 200%;
    color: crimson;
}

h2{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 0;

    width: 90%;

    font-size: 130%;
    padding-bottom: 3%;
    border-bottom: 2px solid black;
}

h4{
    margin: 0;

    width: 90%;

    text-align: center;
    font-size: 90%;
}

h5{
    text-align: center;
    margin: 0;
    width: 90%;

    font-size: 200%;
}

.what{
    width: 90%;
    margin-bottom: 5%;
}

ul, ol{
    margin: 1%;
}

li{
    width: 90%;
}

.wort-t{
    width: 80%;
}



.price, .text00{
    background-color: rgb(255, 198, 124);
    border-radius: 20%;
}

.text0{
    background-color: rgba(255, 198, 124, 0.605);
    text-align: center;
    border-radius: 20%;
    color: purple;
}

/* ---------------------------------------------------- */

.ar-h1{
    grid-area: h1;
    width: 80%;
    margin: auto;
}

.ar-img1{
    grid-area: img1;
    width: 100%;
}

.ar-h3{
    grid-area: h3;
    width: 80%;
    margin: auto;
}

.ar-img2{
    grid-area: img2;
    width: 100%;
}

a{
    color: rgba(0, 0, 255, 0.755);
}

/* ------------------------------------------------------ */

.start{
    display: grid;
    grid-template-areas: 
    'img1 h1'
    'h3 img2'
    ;


    margin: 5% auto;
    margin-bottom: 0;
    padding: 5%;

    box-sizing: border-box;
    width: 90%;
    
    background-color: rgba(255, 255, 255, 0.598);
    border: 8px ridge rgba(128, 128, 128, 0);
    border-radius: 10%;
    box-shadow: 3px 3px 10px teal;

    animation: anim1 3s linear infinite;
}

.work{
    display: flex;
    flex-direction: column;
    margin: 5% auto;
    margin-bottom: 0;


    width: 90%;

    background-color: rgba(255, 255, 255, 0.598);
    border: 8px ridge rgba(128, 128, 128, 0);
    border-radius: 10%;
    box-shadow: 3px 3px 10px green;

    animation: anim1 3s linear infinite;
}

.dop{
    margin: 0 auto;
    margin-top: 5%;

    border-top: 2px dashed black;
    width: 80%;
}

.img1, .kitchen{
    margin: 2% auto;
    width: 90%;
}

.problem{
    display: flex;
    flex-direction: column;
    margin: 5% auto;
    margin-bottom: 0;


    width: 90%;

    background-color: rgba(255, 255, 255, 0.598);
    border: 8px ridge rgba(128, 128, 128, 0);
    border-radius: 10%;
    box-shadow: 3px 3px 10px red;

    animation: anim1 3s linear infinite;
}

/* ------------------------------------- */

@keyframes anim1 {
    0%{
        border-radius: 10%;
        border-color: rgba(128, 128, 128, 0);
    }
    20%{
        border-radius: 10%;
        border-top-color: gray;
    }
    40%{
        border-radius: 12%;
        border-right-color: gray;
    }
    60%{
        border-radius: 15%;
        border-bottom-color: gray;
    }
    80%{
        border-radius: 13%;
        border-left-color: gray;
    }
    100%{
        border-radius: 10%;
        border-color: rgba(128, 128, 128, 0);
    }
}


