@media only screen and (min-width: 1081px) {
    
.content{
    display: grid;
    grid-template-areas: 
    'star work'
    'problem work'
    ;

    font-size: 150%;
}

.start{
    grid-area: star;
    margin: auto;
    margin-top: 5%;
}

.work{
    grid-area: work;
}

.problem{
    grid-area: problem;

    margin: auto;
    margin-bottom: 0;
}

/* ------------------------------------------------- */

@keyframes anim1 {
    0%{
        border-radius: 10%;
        border-color: rgba(128, 128, 128, 0);
    }
    20%{
        border-radius: 10%;
        border-top-color: gray;
    }
    40%{
        border-radius: 12%;
        border-right-color: gray;
    }
    60%{
        border-radius: 14%;
        border-bottom-color: gray;
    }
    80%{
        border-radius: 12%;
        border-left-color: gray;
    }
    100%{
        border-radius: 10%;
        border-color: rgba(128, 128, 128, 0);
    }
}

}